<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/ezhiyu126/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="ezhiyu@126.com" />
      <add key="ClearTextPassword" value="d502d696c32a04641740d0f612911953a21d6506" />
    </github>
  </packageSourceCredentials>
</configuration>